div.gallery {
    margin: 0px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    box-sizing: border-box;
  }
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
div.desc {
    padding: 0px;
    text-align: center;
  }
h1{
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}